---
import Input from "./Input.astro";
import Button from "./Button.astro";
---

<div class="hero-wrapper">
  <div class="hero | container two-columns-grid">
    <!--* column one: content + call to action -->
    <div class="hero-content">
      <h1 class="site-heading">
        All your files in one secure location, accessible anywhere.
      </h1>
      <p class="description">
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </p>
      <form class="subscribe-form" data-prevent-default>
        <Input id="email1" placeholder="Enter your email..." />
        <Button>Get Started</Button>
      </form>
    </div>
    <!--* column two: hero image -->
    <div class="hero-image | image-wrapper">
      <img src="/assets/illustration-1.svg" alt="Accessible Anywhere" />
    </div>
  </div>
</div>

<style>
  .hero {
    --hero-padding: 2.5rem;
    padding-block: var(--hero-padding) calc(var(--hero-padding) * 6);
  }
  .hero-wrapper {
    background-color: var(--bg-hero);
    background-image: url(../assets/bg-curve-desktop.svg);
    background-size: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
  .hero-content {
    display: grid;
    place-content: center;
  }
  .hero-content > * + * {
    margin-block-start: 1rem;
  }
  .site-heading {
    font-size: 2.5em;
    max-width: 26ch;
  }
  .description {
    font-size: 1.0125rem;
    max-width: 58ch;
  }
  .subscribe-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 0.75rem;
  }
  @media (max-width: 42rem) {
    .hero-wrapper {
      background-image: url(../assets/bg-curve-mobile.svg);
      text-align: center;
    }
    .site-heading {
      font-size: 1.8rem;
    }
    .subscribe-form {
      grid-template-columns: 1fr;
    }
  }
</style>
