---
export interface Props {
  id: string;
  placeholder?: string;
  errors?: string;
}

const { id, placeholder, errors = "" } = Astro.props;
---

<label class="input-wrapper" data-error={errors}>
  <input type="text" id={id} placeholder={placeholder} />
</label>

<style>
  .input-wrapper {
    display: block;
  }
  .input-wrapper > input {
    display: block;
    width: 100%;
    border: 0.125rem solid var(--gray);
    color: var(--text-body);
    font-size: 1rem;
    caret-color: var(--text-accent);
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
  }
  .input-wrapper > input:focus-visible {
    border-color: var(--text-accent);
    outline: transparent;
  }
</style>
